<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Piggy Editor</title>
	<link rel="stylesheet" type="text/css" href="./index.style.css">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
	<div id="app">
		<div class="left-align side-bar">
			<div class="side-bar-item">
				<span>Only .txt files</span>
				<input type="file" v-on:change="onFileChange"/>
			</div>
			<div class="side-bar-item">
				<span>Max characters per line (included the number):</span>
				<input type="number" v-model="maxNumber" :disabled="inputDisabled"/>
				<button v-on:click="filterByLineLength" :disabled="inputDisabled">apply</button>
				<!-- <input type="radio" value="0" v-model="filterType">
				<label for="one">Highlight</label>
				<input type="radio" value="1" v-model="filterType">
				<label for="two">Filter</label> -->
			</div>
			<div class="side-bar-item">
				<span>Words to ignore:</span>
				<input type="text" v-model="ignore" :disabled="inputDisabled" />
				<button v-on:click="ignoreWord" :disabled="inputDisabled">add</button>
			</div>
			<div class="side-bar-item">
				<span>Words ignored:</span>
				<table>
					<tr v-for="(word, index) in ignoredWords">
						<td>{{word}}</td>
						<td><button v-on:click="deleteIgnoredWord(index)" :disabled="inputDisabled">
							delete
						</button></td>
					</tr>
				</table>
			</div>
		</div>
		<div class="right-align">
			<ul class="content">
				<li v-for="line in text">
					<span v-bind:class="{ highlight: line.class }">
						{{line.displayText}}
					</span>
					<span class="error-text">
						{{line.errorText}}
					</span>
				</li>
			</ul>
		</div>
		<span class="number-bar"></span>
	</div>

	<script>
		require('./index.controller.js')
	</script>
</body>

</html>
