body {
    margin: 0px;
}

.left-align {
	float: left;
	width: 200px;
}

.content {
	max-height: 100vh;
	overflow-y: auto;
}

ul {
	list-style-type: decimal;
	margin: 0px;
	width: 100%;
}

.right-align {
	float: left;
	width: calc(100% - 240px);
}

.side-bar {
	height: 100vh;
	background-color: #cecece;
}

.number-bar {
	position: absolute;
	left: 200px;
	height: 100vh;
	background-color: black;
	width: 40px;
	opacity: 0.1;
}

.side-bar-item {
	padding: 10px;
	border-bottom: 1px solid grey;
}

.highlight {
	background-color: yellow;
}

.error-text {
	color: red;
	background-color: #cecece;
}
